*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  
  .container {
    max-width: 800px;
    margin-top: 110px;
    background-color: #f0cdae;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .contact{
    font-weight: bolder;
    font-family: sans-serif;
    margin-top: 5px !important;
  
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  textarea {
    resize: vertical;
  }
  
  .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-submit {
    background-color: #007bff;
    color:#fff;
  }
  