*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
		.table{
			height: vh;
			width: 100%;
			margin-top: 30px;
			text-align: center;
			align-items: center;
			position: relative;
			
		}
		.corejava-main{
			position: relative;
			top: 100px;
			z-index: -4;
		}
